################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CRUD-DB/.vs/CRUD-DB/v16/Server/sqlite3
