<p-table [columns]="cols" [value]="rows" sortMode="multiple" #dt [paginator]="true" [rows]="2">
  <ng-template pTemplate="caption">
    {{headerName}}
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <ng-container *ngFor="let col of columns">
        <th [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </ng-container>
    </tr>
    <tr>
      <th *ngFor="let col of columns" [ngSwitch]="col.field">
        <input pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user let-columns="columns">
    <ng-container *ngIf="!editing">
      <tr>
        <ng-container *ngFor="let col of columns">
          <td>
            {{user[col.field]}}
          </td>
        </ng-container>
      </tr>
    </ng-container>

  </ng-template>
</p-table>
